<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="toggle()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
      <ion-title slot="start" style="width: 100%;">
          <ion-img class="logotipoEuroCaja" routerLink="/home" [src]="logo" style="width: 50px; height: 50px;"></ion-img>
      </ion-title>
        <ion-button slot="start" (click)="hacerReport()" color="warning">
          Obtener parte de caja
        </ion-button>
  </ion-toolbar>
</ion-header>