<app-header></app-header>

<ion-content class="ion-padding">
  <ion-card class="ion-padding">
    <ion-card-title>
      <div>
        <div class="titulo-anadir-registro">
          Añadir registro
        </div> 
      </div>
    </ion-card-title>
    <ion-card-content>
      <!-- Comunidades -->
      <div class="container-comunidades ion-padding">
        <div class="container-lista">
          <ion-item lines="none">
            <div class="container-lista-cabecera">
              <ion-label>Comunidad: </ion-label>
            </div>
            <div class="container-seleccion-manual-existentes">
              <select class="selector-comunidades" name="comunidades" id="">
                <option value="/" disabled>Comunidad a seleccionar</option>
                <option  [value]="comunidad.id_comunidad" *ngFor="let comunidad of comunidades">{{ comunidad.nombre }}</option>
              </select>
              <ion-input type="text" #nuevaComunidadInput class="anadirNuevaComunidad" placeholder="Añadir una nueva comunidad"></ion-input>
            </div>
          </ion-item>
        </div>
        <div class="container-boton-nueva-comunidad">
          <ion-button  class="anadircomunidad" (click)="anadirComunidad(true)">
            Añadir nueva comunidad
          </ion-button>
          <ion-button color="danger" class="cancelacomunidad" (click)="anadirComunidad(false)">
            <ion-icon slot="icon-only" name="close"></ion-icon>
          </ion-button>
        </div>
      </div>

      <!-- Cuentas Bancarias relacionadas -->

      <div class="container-cuentas-bancarias ion-padding">
        <div class="container-cuentas-bancarias-comunidad">
          <ion-item lines="none">
            <div class="container-cabecera-cuenta-bancaria">
              <ion-label>IBAN: </ion-label>
            </div>
            <div class="container-selector-manual-existente">
              <div class="container-cuentas-existentes">
                <select class="selector-cuentas-bancarias" name="cuentasBancarias" id="">
                  <option disabled> Cuenta bancaria a seleccionar de la comunidad </option>
                  <option [value]="cuentaBancaria.id_cuenta_comunidad" *ngFor="let cuentaBancaria of cuentasBancarias"> {{ cuentaBancaria.id_asociativo_banco }} {{ cuentaBancaria.grupo1 }} {{ cuentaBancaria.grupo2 }} {{ cuentaBancaria.grupo3 }} {{ cuentaBancaria.grupo4 }} - {{ cuentaBancaria.nombre_banco }} </option>
                </select>
              </div>
              <div class="container-iban-manual">
                <ion-input class="idAsociativoBancoClase" type="text" #inputIdAsociativoBanco placeholder="ID banco"></ion-input>
                <ion-input type="text" #inputGrupo1 placeholder="Grupo 1"></ion-input>
                <ion-input type="text" #inputGrupo2 placeholder="Grupo 2"></ion-input>
                <ion-input type="text" #inputGrupo3 placeholder="Grupo 3"></ion-input>
                <ion-input type="text" #inputGrupo4 placeholder="Grupo 4"></ion-input>
              </div>
            </div>
          </ion-item>
          <div class="container-botones-cuenta-bancaria">
            <ion-button class="anadircuenta" (click)="anadirCuentaBancaria(true)">
              Añadir cuenta bancaria            
            </ion-button>
            <ion-button color="danger" class="cancelacuenta" (click)="anadirCuentaBancaria(false)">
              <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
          </div>
        </div>
      </div>
      <div class="container-importe ion-padding">
        <ion-item lines="none">
          <div class="container-cabecera-importe">
            <ion-label>Importe: </ion-label>
          </div>
          <div class="container-seleccion-importe">
            <ion-input type="number" #importe placeholder="Añadir un importe al registro"></ion-input>
          </div>
        
        </ion-item>
      </div>

      <div class="container-concepto ion-padding">
        <ion-item lines="none">
          <div class="container-cabecera-concepto">
            <ion-label>Concepto: </ion-label>
          </div>
          <div class="container-seleccion-concepto">
            <ion-input type="text" #concepto placeholder="Añadir el concepto del registro (nombre del propietario)"></ion-input>
          </div>
        
        </ion-item>
      </div>

      <div class="container-piso ion-padding">
        <ion-item lines="none">
          <div class="container-cabecera-piso">
            <ion-label>Piso: </ion-label>
          </div>
          <div class="container-seleccion-piso">
            <ion-input type="text" #piso placeholder="Añadir el piso del propietario"></ion-input>
          </div>
        
        </ion-item>
      </div>
      
      
      <div class="container-boton-registro ion-padding">
        <ion-button (click)="anadirRegistro()">
          Añadir registro | Fecha: {{ fechaActual }}
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-list-header>
      <ion-label>Lista de registros:</ion-label>
    </ion-list-header>

    <div class="container">
      <table>
        <thead>
          <tr>
            <th>Comunidad</th>

            <th>Concepto</th>

            <th>Importe</th>

            <th>IBAN</th>

            <th>Piso</th>
          </tr>
        </thead>
        <tbody *ngFor="let registro of listadoRegistrosParte"
               >
          <tr *ngIf="registro.fecha === fechaActual">
            <td> {{ registro.nombre_comunidad }} </td>
            <td> {{ registro.concepto }} </td>
            <td> {{ registro.importe }}  </td>
            <td> {{ registro.id_asociativo_banco }} {{ registro.grupo1 }} {{ registro.grupo2 }} {{ registro.grupo3 }} {{ registro.grupo4 }}</td>
            <td> {{ registro.piso }} </td>
          </tr>

        </tbody>
      </table>
    </div>
  </ion-list>
</ion-content>