// Contenedores principales
//.registro ,
.comunidades ,
.iban ,
.propietario ,
.concepto ,
.piso ,
.importe {
    display: flex;
}

.comunidades, .iban {
    width: 50%;
    height: 50%;
}

.contenedor-comunidades {
    margin-left: 2.5rem;
    width: 100%;
}

.selector-iban {
    width: 350px;
}

.texto-propietario, .texto-concepto {
    margin-left: 2rem;
}
.texto-piso {
    margin-left: 4.6rem;
}
.numero-importe {
    margin-left: 2.7rem;
}

// Lista de registros

.container {
	overflow-x: auto;
	white-space: nowrap;
}

table, th, td {
    width: 100%;
    border: 1px solid black;
}
	
th, td {
    padding: .5em 1em;
}


// Estilo de comunidad

.container-comunidades {
    display: flex; 
    justify-content: space-around;
}

.container-lista {
    width: 100%;
}

.container-lista-cabecera {
    width: 20%;
}

.container-seleccion-manual-existentes {
    display: flex;
    width: 80%;
}

.container-seleccion-manual-existentes > select, .container-seleccion-manual-existentes > ion-input {
    width: 100%;
}

// Estilo cuenta bancaria

.container-cuentas-bancarias-comunidad, .container-cuenta-bancaria-manual, .container-selector-manual-existente {
    display: flex;
}


.container-cabecera-cuenta-bancaria {
    width: 20%;
}

.container-selector-manual-existente {
    width: 80%;
}

.container-cuentas-bancarias-comunidad, .container-cuentas-bancarias-comunidad > ion-item {
    width: 100%;
}

.container-cuentas-existentes {
    width: 100%;
}

.container-iban-manual {
    display: flex;
    justify-content: space-around;
    width: 80%;
}

// Estilo importe, concepto, piso y fecha

.container-importe, .container-concepto, .container-piso {
    width: 100%;
}

.container-cabecera-importe, .container-cabecera-concepto, .container-cabecera-piso, .container-cabecera-fecha {
    width: 17%;
}

.container-seleccion-importe, .container-seleccion-concepto, .container-seleccion-piso {
    width: 85%;
}

.container-seleccion-fecha {
    width: 30%;
}

// Estilo botón añadir registro

.container-boton-registro {
    width: 100%;
    text-align: end;
}

// Estilo filtro de búsqueda

.cabecera-filtro-busqueda {
    display: flex;
    justify-content: space-between;
}

.icono-filtro-cerrar-busqueda:hover {
    cursor: pointer;
}
.container-filtro-seleccion-banco {display: flex; justify-content: space-around;}
.container-filtro-seleccion-banco, .container-filtro-seleccion, .container-filtro-banco-desde-cabecera, 
.container-seleccion-filtro-desde  {
    width: 100%;
}

.container-filtro-seleccion-fecha {
    display: flex;
    width: 100%;
}


.container-filtro-seleccion-fecha {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.container-filtro-seleccion-desde-fecha, .container-filtro-seleccion-hasta-fecha {
    width: 30%;
}


// Total registrado

.container-total-registrado > ion-item > ion-label {
    font-size: 2rem;
}

// Iconos de acciones

.icono-modificar:hover, .icono-borrar:hover {
    cursor: pointer;
}

.icono-modificar, .icono-borrar {
    color: white;
    border-radius: 100%;
    padding: 0.1rem;
}

.icono-modificar {
    background-color: green;
    margin-right: 3px;
}

.icono-borrar {
    background-color: red;
}
