<app-header></app-header>

<ion-content class="ion-padding">
<!-- Filtro de búsqueda -->
  <ion-card class="ion-padding filtro-busqueda" style="display: none;">
    <ion-card-title>
      <div class="cabecera-filtro-busqueda">
        <div>
          Filtro de parte
        </div> 
        <div class="icono-filtro-cerrar-busqueda">
          <ion-icon slot="icon-only" color="danger" name="close-circle" (click)="cerrarFiltroBusqueda()"></ion-icon>
        </div>
      </div>
    </ion-card-title>
    <ion-card-content>
      <div class="todofiltrobanco">
        <ion-title style="text-align: center;">Filtrar por banco:</ion-title>
        <div class="container-filtro-seleccion-banco ion-padding">
          <div class="container-filtro-seleccion-desde">
            <ion-item lines="none">
              <div class="container-filtro-banco-desde-cabecera" style="display: none;">
                <ion-label>Desde: </ion-label>
              </div>
              <div class="container-seleccion-filtro-desde">
                <select class="selector-filtro-banco-desde" name="bancoFiltro" id="">
                  <option value="/" disabled> Selecciona banco...</option>
                  <option  [value]="fbanc.id_banco" *ngFor="let fbanc of filtroBanco">{{ fbanc.iban }} {{ fbanc.nombre_banco }} - {{ fbanc.id_asociativo_banco }}</option>
                </select>
              </div>
            </ion-item>
          </div>
  
          <div class="container-filtro-seleccion-hasta-banco" style="display: none;">
            <ion-item lines="none">
              <div class="container-filtro-banco-hasta-cabecera">
                <ion-label>Hasta: </ion-label>
              </div>
              <div class="container-seleccion-filtro-hasta">
                <select class="selector-filtro-banco-hasta" name="bancoFiltro" id="">
                  <option value="/" disabled> Selecciona banco...</option>
                  <option  [value]="fbanc.id_banco" *ngFor="let fbanc of filtroBanco">{{ fbanc.nombre_banco }}</option>
                </select>
              </div>
            </ion-item>
          </div>
        </div>
      </div>
      
      <div class="boton-filtro-busqueda-banco" style="text-align: right;">
        <ion-button color="warning" class="boton-filtro-anadir-banco" (click)="anadirRangoFiltroBanco()">
          Añadir rango
        </ion-button>
        <ion-button class="boton-filtro-cerrar-banco" color="danger" (click)="quitarFiltroBanco()" style="display: none;">
          <ion-icon slot="start" name="close"></ion-icon>
        </ion-button>
      </div>


      <div class="todofiltrofecha">
        <ion-title style="text-align: center;">Filtrar por fecha:</ion-title>
        <div class="container-filtro-seleccion-fecha ion-padding">
          <div class="container-filtro-seleccion-desde-fecha">
            <ion-item lines="none">
              <div class="container-filtro-banco-desde-cabecera-fecha">
                <ion-label> </ion-label>
              </div>
              <div class="container-seleccion-filtro-desde-fecha">
                <ion-item>
                  <ion-label>Fecha inicial:</ion-label>                  
                  <ion-datetime [pickerOptions]="customPickerOptionsIni" class="selector-filtro-fecha-desde fechaInicio" display-format="DD.MM.YYYY" [value]="fechaActual"></ion-datetime>
                </ion-item>
              </div>
            </ion-item>
          </div>
  
          <div class="container-filtro-seleccion-hasta-fecha" style="display: none;">
            <ion-item lines="none">
              <div class="container-filtro-fecha-hasta-cabecera">
                <ion-label></ion-label>
              </div>
              <div class="container-seleccion-filtro-hasta-fecha">
                <ion-item>
                  <ion-label>Fecha final: </ion-label>
                  <ion-datetime [pickerOptions]="customPickerOptionsFin" class="selector-filtro-fecha-hasta fechaFin" display-format="DD.MM.YYYY"></ion-datetime>
                </ion-item>
              </div>
            </ion-item>
          </div>
        </div>
      </div>
      <div class="boton-filtro-busqueda-fecha" style="text-align: right;">
        <ion-button color="warning" class="boton-filtro-anadir-fecha" (click)="anadirRangoFiltroFecha()">
          Añadir rango
        </ion-button>
        <div class="boton-cerrar-filtro-fecha" style="display: none;">
          <ion-button class="boton-filtro-cerrar-fecha" color="danger" (click)="quitarFiltroFecha()">
            <ion-icon slot="start" name="close"></ion-icon>
          </ion-button>
        </div>
      </div>

      <div class="boton-aplicar-filtros">
        <ion-button (click)="obtenerParteCaja('abrir')">
          Abrir PDF
        </ion-button>
        <ion-button color="success" (click)="obtenerParteCaja('descargar')">
          Descargar PDF
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>

<!-- Card para añadir un parte al registro -->
  <ion-card class="ion-padding contenedor-anadir-registro-al-parte-caja">
    <ion-card-title style="text-align: center; font-size: 4rem; margin-bottom: 2rem;">
      <div>
        <div class="titulo-anadir-registro">
          Añadir registro al parte de caja
        </div> 
      </div>
    </ion-card-title>
    <ion-card-content>
      <!-- Comunidades -->
      <div class="container-comunidades ion-padding">
        <div class="container-lista">
          <ion-item lines="none">
            <div class="container-lista-cabecera">
              <ion-label>Comunidad: </ion-label>
            </div>
            <div class="container-seleccion-manual-existentes">
              <select class="selector-comunidades" name="comunidades" id="">
                <option value="/" disabled>Comunidad a seleccionar</option>
                <option  [value]="comunidad.id_comunidad" *ngFor="let comunidad of comunidades">{{ comunidad.nombre }}</option>
              </select>
              <ion-input type="text" #nuevaComunidadInput class="anadirNuevaComunidad" placeholder="Añadir una nueva comunidad"></ion-input>
            </div>
          </ion-item>
        </div>
        <div class="container-boton-nueva-comunidad">
          <ion-button  class="anadircomunidad" (click)="anadirComunidad(true)">
            Añadir nueva comunidad
          </ion-button>
          <ion-button color="danger" class="cancelacomunidad" (click)="anadirComunidad(false)">
            <ion-icon slot="icon-only" name="close"></ion-icon>
          </ion-button>
        </div>
      </div>

      <!-- Cuentas Bancarias relacionadas -->

      <div class="container-cuentas-bancarias ion-padding">
        <div class="container-cuentas-bancarias-comunidad">
          <ion-item lines="none">
            <div class="container-cabecera-cuenta-bancaria">
              <ion-label>IBAN: </ion-label>
            </div>
            <div class="container-selector-manual-existente">
              <div class="container-cuentas-existentes">
                <select class="selector-cuentas-bancarias" name="cuentasBancarias" id="">
                  <option disabled> Cuenta bancaria a seleccionar de la comunidad </option>
                  <option [value]="cuentaBancaria.id_cuenta_comunidad" *ngFor="let cuentaBancaria of cuentasBancarias"> {{ cuentaBancaria.iban }} {{ cuentaBancaria.id_asociativo_banco }} {{ cuentaBancaria.grupo1 }} {{ cuentaBancaria.grupo2 }} {{ cuentaBancaria.grupo3 }} {{ cuentaBancaria.grupo4 }} - {{ cuentaBancaria.nombre_banco }} </option>
                </select>
              </div>
              <div class="container-iban-manual">
                <ion-input class="iban" type="text" #iban placeholder="IBAN del banco"></ion-input>
                <ion-input class="idAsociativoBancoClase" type="text" #inputIdAsociativoBanco placeholder="ID banco"></ion-input>
                <ion-input type="text" #inputGrupo1 placeholder="Grupo 1"></ion-input>
                <ion-input type="text" #inputGrupo2 placeholder="Grupo 2"></ion-input>
                <ion-input type="text" #inputGrupo3 placeholder="Grupo 3"></ion-input>
                <ion-input type="text" #inputGrupo4 placeholder="Grupo 4"></ion-input>
              </div>
            </div>
          </ion-item>
          <div class="container-botones-cuenta-bancaria">
            <ion-button class="anadircuenta" (click)="anadirCuentaBancaria(true)">
              Añadir cuenta bancaria            
            </ion-button>
            <ion-button color="danger" class="cancelacuenta" (click)="anadirCuentaBancaria(false)">
              <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
          </div>
        </div>
      </div>
      <div class="container-importe ion-padding">
        <ion-item lines="none">
          <div class="container-cabecera-importe">
            <ion-label>Importe: </ion-label>
          </div>
          <div class="container-seleccion-importe">
            <ion-input type="number" #importe placeholder="Añadir un importe al registro"></ion-input>
          </div>
        
        </ion-item>
      </div>

      <div class="container-concepto ion-padding">
        <ion-item lines="none">
          <div class="container-cabecera-concepto">
            <ion-label>Concepto: </ion-label>
          </div>
          <div class="container-seleccion-concepto">
            <ion-input type="text" #concepto placeholder="Añadir el concepto del registro (nombre del propietario)"></ion-input>
          </div>
        
        </ion-item>
      </div>

      <div class="container-piso ion-padding">
        <ion-item lines="none">
          <div class="container-cabecera-piso">
            <ion-label>Piso: </ion-label>
          </div>
          <div class="container-seleccion-piso">
            <ion-input type="text" #piso placeholder="Añadir el piso del propietario"></ion-input>
          </div>
        
        </ion-item>
      </div>
      
      <div class="container-fecha ion-padding">
        <ion-item lines="none">
          <div class="container-cabecera-fecha">
            <ion-label>Fecha del registro: </ion-label>
          </div>
          <div class="container-seleccion-fecha">
            <ion-item>
              <ion-input #diaRegistro type="text" min="2" max="2" placeholder="Día"></ion-input>
              <ion-label  lines="none">/</ion-label>
              <ion-input #mesRegistro type="text" min="2" max="2" placeholder="Mes"></ion-input>
              <ion-label lines="none">/</ion-label>
              <ion-input #anioRegistro type="text" min="4" max="4" placeholder="Año"></ion-input>

            </ion-item>
          </div>
        
        </ion-item>
      </div>
      
      <div class="container-boton-registro ion-padding">
        <ion-button color="success" (click)="anadirRegistro()">
          Añadir registro
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-list-header style="display: flex; justify-content: center; font-size: 3rem;">
      <ion-label>Lista de registros de hoy ({{ fechaActual }}):</ion-label>
    </ion-list-header>
    <br>
    <div class="container">
      <table>
        <thead>
          <tr>
            <th>Comunidad</th>

            <th>Concepto</th>

            <th>Importe</th>

            <th>IBAN</th>

            <th>Piso</th>
          </tr>
        </thead>
        <tbody *ngFor="let registro of listadoRegistrosParte"
               >
          <tr *ngIf="registro.fecha === fechaActual">
            <td> {{ registro.nombre_comunidad }} </td>
            <td> {{ registro.concepto }} </td>
            <td> {{ registro.importe }} € </td>
            <td> {{ registro.iban }} {{ registro.id_asociativo_banco }} {{ registro.grupo1 }} {{ registro.grupo2 }} {{ registro.grupo3 }} {{ registro.grupo4 }}</td>
            <td> {{ registro.piso }} </td>
            <td> 
              <div class="acciones-con-registros">
                <ion-icon class="icono-borrar" slot="icon-only" name="trash" (click)="borrarRegistro(registro.id_registro_parte)"></ion-icon>
              </div>
            </td>
          </tr>
        </tbody>
        <tr>
          <td  style="border-left: hidden; border-right: hidden; border-bottom: hidden">
            <div class="container-total-registrado">
              <ion-item lines="none">
                <ion-label>
                  Balance total registrado: {{ totalRegistradoActual }} €
                </ion-label>
              </ion-item>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </ion-list>
</ion-content>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />