<app-header></app-header>

<ion-content class="ion-padding">
    <div class="contenedor-cuenta-clicada" style="display: none;">
      <ion-card>
        <ion-card-title  style="text-align: center; font-size: 2rem; margin-bottom: 2rem;"> Cuenta: {{ tituloCuentaBancariaAModificar }} </ion-card-title>
        <ion-card-content class="ion-padding">
          <div style="display: flex; justify-content: space-around;">
            <ion-input
              #idAsociativoBanco
              type="text"
              placeholder="Nombre de la comunidad"
            ></ion-input>
            <ion-input
              #grupo1
              type="text"
              placeholder="Nombre de la comunidad"
            ></ion-input>
            <ion-input
              #grupo2
              type="text"
              placeholder="Nombre de la comunidad"
            ></ion-input>
            <ion-input
              #grupo3
              type="text"
              placeholder="Nombre de la comunidad"
            ></ion-input>
            <ion-input
              #grupo4
              type="text"
              placeholder="Nombre de la comunidad"
            ></ion-input>
          </div>         
          <div class="container-modificacion-cuenta-bancaria-comunidad"></div>
          <ion-button class="modificarCuentaBancaria" (click)="modificacionCuentaBancariaSeleccionada(comunidad.id_comunidad)">
            Modificar cuenta Bancaria
          </ion-button>
          <ion-button class="anadirCuentaBancaria" (click)="altaCuentaBancaria(comunidad.id_comunidad)">
            Añadir cuenta Bancaria
          </ion-button>
        </ion-card-content>
      </ion-card>
  </div>
  <div class="contenedor-comunidades">
    <div>
      <ion-card class="ion-padding">
        <ion-card-title style="text-align: center; font-size: 4rem; margin-bottom: 2rem;">Mantenimiento de comunidades</ion-card-title>

        <ion-card-content>
          <ion-grid style="margin-bottom: 2rem;">
            <ion-row>
              <ion-col size="2" style="display: flex; align-items: center; justify-content: center; background-color: #E0E0E0;">
                <ion-label style="color: black">Nombre: </ion-label>
              </ion-col>
    
              <ion-col size="10" style="border-bottom: 1px solid black;">
                <ion-input
                  #nombreComunidad
                  [(ngModel)]="comunidad.nombre"
                  type="text"
                  placeholder="Nombre de la comunidad"
                ></ion-input>
              </ion-col>
            </ion-row>
          </ion-grid>
          <div>
            <ion-grid>
              <ion-row>
                <ion-col size="12" style="text-align: center;" *ngIf="cuentasBancariasComunidad.length !== 0"> <ion-title>Cuentas</ion-title></ion-col>
              </ion-row>
      
              <ion-row>
                <ion-col size="12"  style="text-align: center; font-size: 2rem; border: 1px solid #E0E0E0"
                *ngIf="cuentasBancariasComunidad.length !== 0">
                  <div class="container-cuentas-bancarias-comunidad" >
                    <div class="contenedor-por-cuenta-comunidad" *ngFor="let cuenta of cuentasBancariasComunidad" id="{{ cuenta.id_cuenta_comunidad }}">
                      <div> {{ cuenta.id_asociativo_banco }} </div>
                      <div> {{ cuenta.grupo1 }} </div>
                      <div> {{ cuenta.grupo2 }} </div>
                      <div> {{ cuenta.grupo3 }} </div>
                      <div> {{ cuenta.grupo4 }} </div>
                      <div class="container-acciones-cuentas">
                        <span (click)="modificacionCuentaBancaria(cuenta.id_cuenta_comunidad, cuenta.id_comunidad)">
                          <ion-icon class="icono-modificar" slot="icon-only" name="create"></ion-icon>
                        </span>
                        <span value="id" (click)="eliminacionCuentaBancaria(cuenta.id_cuenta_comunidad, cuenta.id_cuenta_comunidad)">
                          <ion-icon class="icono-borrar" slot="icon-only" name="trash"></ion-icon>
                        </span>
                      </div>
                    </div>
                  </div>
                </ion-col>
                <ion-col size="12" *ngIf="cuentasBancariasComunidad.length === 0 && !principal">
                  <div>
                    <h3>No hay cuentas asociadas a la comunidad</h3>
                  </div>
                  <div>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
          <div class="contenedor-botones-mantenimiento-comunidades" style="display: flex; justify-content: space-between;">
            <div class="contenedor-boton-cuentas-bancarias-comunidad">
              <ion-button class="anadirBanca" (click)="redireccionComponenteCuentaClicada()" style="display: none;">
                Añadir Cuenta Bancaria
              </ion-button>
            </div>
            <div class="contenedor-boton-anadir-comunidad">
              <ion-button class="anadirComunidad" (click)="altaOModificacionComunidad()">
                Añadir comunidad
              </ion-button>
              <ion-button color="warning" class="modificarComunidadAnadida" (click)="preparadoModificacion(ultimaComunidadAnadida)" style="display:none">
                Modificar comunidad
              </ion-button>
              <ion-button color="danger" #eliminarComunidad (click)="eliminaComunidad(comunidad.id_comunidad)" style="display:none">
                Eliminar comunidad
              </ion-button>
              <ion-button color="success" #salirComunidad onClick="window.location.reload()" style="display:none">
                Salir
              </ion-button>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
  
  <div class="container-listado-comunidades ion-padding">

    <div class="container-cabeceras">
      <div class="elemento-listado-comunidad">
        <h3>Comunidad</h3>
      </div>
      <div class="elemento-listado-acciones">
        <h3>Acciones</h3>
      </div>
    </div>


    <div class="elementos-listado" *ngFor="let elementoListado of listado">
      <div class="elemento-listado-comunidad">
        <span>{{ elementoListado.nombre }}</span>
      </div>
      <div class="elemento-listado-acciones elemento-listado-accion">
            <span (click)="preparadoModificacion(elementoListado.id_comunidad)">
              <ion-icon class="icono-modificar" slot="icon-only" name="create"></ion-icon>
            </span>
            <span value="id" (click)="eliminaComunidad(elementoListado.id_comunidad)">
              <ion-icon class="icono-borrar" slot="icon-only" name="trash"></ion-icon>
            </span>
      </div>
    </div> 

  </div>
  
</ion-content>