// Lista de registros

.container {
	overflow-x: auto;
	white-space: nowrap;
}

table, th, td {
    width: 100%;
    border: 1px solid black;
}
	
th, td {
    padding: .5em 1em;
}


// listado de bancos

.container-cabeceras, .elementos-listado {
    display: flex;
}

.elemento-listado-nombreBanco {
    padding: 0.3rem;
    width: 50%;
}

.elemento-listado-idAsociativoBanco {
    padding: 0.3rem;
    width: 35%;
}

.elemento-listado-acciones {
    width: 20%;
}

.icono-modificar, .icono-borrar {
    font-size: 1.4rem;
}

// Iconos de acciones

.icono-modificar:hover, .icono-borrar:hover {
    cursor: pointer;
}

.icono-modificar, .icono-borrar {
    color: white;
    border-radius: 100%;
    padding: 0.1rem;
}

.icono-modificar {
    background-color: green;
    margin-right: 3px;
}

.icono-borrar {
    background-color: red;
}