<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start" defaultHref="home"></ion-back-button>
    <ion-title>EuroCaja</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="contenedor-comunidades">
    <div>
      <ion-card class="ion-padding">
        <ion-card-title style="text-align: center; font-size: 4rem; margin-bottom: 2rem;">Mantenimiento de Bancos</ion-card-title>

        <ion-card-content>
          <ion-grid style="margin-bottom: 2rem;">
            <ion-row>
              <ion-col size="2" style="display: flex; align-items: center; justify-content: center; background-color: #E0E0E0;">
                <ion-label style="color: black">Nombre del Banco: </ion-label>
              </ion-col>
              <ion-col size="10" style="border-bottom: 1px solid black;">
                <ion-input
                #nombre
                [(ngModel)]="banco.nombre_banco"
                  type="text"
                  placeholder="Nombre del banco"
                ></ion-input>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12"></ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="2" style="display: flex; align-items: center; justify-content: center; background-color: #E0E0E0;">
                <ion-label style="color: black">Código identificativo: </ion-label>
              </ion-col>
    
              <ion-col size="10" style="border-bottom: 1px solid black;">
                <ion-input
                #idAsociativo
                [(ngModel)]="banco.id_asociativo_banco"
                  type="text"
                  min="4"
                  max="4"
                  placeholder="El código identificativo del banco son los cuatro primeros dígitos después del identificador único del IBAN"
                ></ion-input>
              </ion-col>
            </ion-row>
          </ion-grid>
          <div class="container-botones" style="display: flex; justify-content: flex-end;">
            <ion-button class="anadirBanco" (click)="altaModificacionBanco()">
              Añadir banco
            </ion-button>
            <ion-button color="danger" #eliminarBanco (click)="eliminar(banco.id_banco)" style="display:none">
              Eliminar banco
            </ion-button>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
    </div>
    

    <div class="container-lista ion-padding">

      <div class="container-cabeceras">
        <div class="elemento-listado-nombreBanco">
          <h3>Banco</h3>
        </div>
        <div class="elemento-listado-idAsociativoBanco">
          <h3>Código identificativo</h3>
        </div>
        <div class="elemento-listado-idBanco">
          <h3>Acciones</h3>
        </div>
      </div>


      <div class="elementos-listado" *ngFor="let elementoListado of listado">
        <div class="elemento-listado-nombreBanco">
          <span>{{ elementoListado.nombreBanco }}</span>
        </div>
        <div class="elemento-listado-idAsociativoBanco">
          <span> {{ elementoListado.idAsociativoBanco }} </span>
        </div>
        <div class="elemento-listado-idBanco">
              <span (click)="modificarBanco(elementoListado.idBanco)">
                <ion-icon class="icono-modificar" slot="icon-only" name="create"></ion-icon>
              </span>
              <span value="id" (click)="eliminar(elementoListado.idBanco)">
                <ion-icon class="icono-borrar" slot="icon-only" name="trash"></ion-icon>
              </span>
        </div>
      </div> 

    </div>

</ion-content>
